
body {
           background-color: #1A1A1D;
           color: white;
           text-align: center;
       }

       #logo {
           width: 100px;
           height: 100px;
           animation: slide 0.5s linear;
           margin: 20px auto;
       }

       #galo-cego {
           width: 300px;
           height: 300px;
           margin: 20px auto;
       }

       .container-botões {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
        width: 40%;
        margin: 40px auto;
        padding-left: 35px;
       }

       .botões {
           width: 100px;
           padding: 10px;
           background: linear-gradient(135deg, #3B1C32, #060673a4);
           color: white;
           border-radius: 15px;
           transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
           backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border:1px solid rgba(255, 255, 255, 0.18);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          
       }

       .botões:hover {
           transform: scale(1.1);
           box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
           cursor: pointer;
       }

       @keyframes slide {
           0% {
               opacity: 0;
           }

           100% {
               opacity: 1;
           }
       }

       @media (max-width: 600px) {
           #galo-cego {
               width: 80%;
               height: auto;
           }

           .container-botões {
               width: 100%;
           }

           .botões {
               width: 90%;
           }
       }
     #rick-gif {
    display: none; 
    margin: 0 auto; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 10;
     }
    h3 {
        padding-top: 20px;
    }
.categories-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.categories-content {
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    font-size: 20px;
    color: #000;
}

.categories-buttons button {
    margin: 10px;
    width: 100%;
    
}

.close {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    float: right;
}
.botão-pesquisar {
    width: 100px;
           padding: 10px;
           background: #2D2D2D;
           color: white;
           border-radius: 15px;
           transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
           backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border:1px solid rgba(255, 255, 255, 0.18);
          box-shadow: 0 8px 32px 0 #000;
}
.botão-pesquisar:hover {
    transform: scale(1.1);
           box-shadow: 0px 0px 8px #000;
           cursor: pointer;
}
#openCategories, #openFavorites {
    cursor: pointer;
}
#Outro:hover {
    transform: scale(1.1);
           box-shadow: 0px 0px 4px #000;
           cursor: pointer;
}
#Jojo:hover {
     transform: scale(1.1);
           box-shadow: 0px 0px 4px #000;
           cursor: pointer;
}
#Anime:hover {
     transform: scale(1.1);
           box-shadow: 0px 0px 4px #000;
           cursor: pointer;
}
#Meme:hover {
     transform: scale(1.1);
           box-shadow: 0px 0px 4px #000;
           cursor: pointer;
}